*{
    margin: 0%;
    padding: 0%;
}

body{
  
    background-image: url("./img/astronauta4k.png");
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#container{
    background-color: gray;
    display: inline-block;
    border: 5px solid gray;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    top: 80px;
    left: 36%;
        
}

div{
    margin: 5px;
    text-align: center;
}

button{
    padding: 5px;
}

#loja-do-astronauta{
    display: inline-block;
    background-color: gray;
    border: 5px solid gray;
    border-radius: 6px;
    padding: 5px;
    visibility: hidden;
}

a{
    background-color: gray;
    color: whitesmoke;
    border: 5px solid gray;
    border-radius: 6px;
    padding: 1px;
    position: relative;
    top: 15px;
    text-decoration: none;
}
a:hover{

    color: whitesmoke;
    background-color: darkgray;
    border: 5px solid darkgray;
    border-radius: 6px;
    text-decoration: none;
    font-size: 17px;

}

a:active{
    color: darkslategrey;